body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  /* background-color: rgb(0, 0, 0); */
  color: white;
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  margin: 50px;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 64px;
  text-align: center;
  color: #1CDBF5;
  font-weight: bolder;
  padding: 30px;
}

.fc-aqua {
  color: #1CDBF5;
}

.fc-white {
  color: white;
}

.fw-600 {
  font-weight: bolder;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}



.clear-button {
  width: max-content;
  margin: 40px auto 10px auto;
}


.gameBoard{
  border: solid 5px #807575;
  box-shadow: 1px 3px 15px black;
  border-radius: 5px;
  margin: 5px;
}

.gameBoard:hover {
  box-shadow: 1px 3px 15px black;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .heading-text {
      color: white;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
      margin: 60px 10px;
  }

  .square {
      min-width: 80px;
      min-height: 80px;
      font-size: 32px;
      font-weight: bolder;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .clear-button {
      width: max-content;
      margin: 40px auto 10px auto;
  }

  .gameBoard{
    border: solid 5px #807575;
    box-shadow: 1px 3px 15px black;
    border-radius: 5px;
    margin: 5px;
  }
  
  .gameBoard:hover {
    box-shadow: 1px 3px 15px black;
    border-radius: 5px;
  }
}



